@model MovieGallery.Models.Movie

@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    ViewBag.Title = @Model.DisplayText;
}



<div>
    <h1>@Model.MovieName</h1>
    <h2>by @Model.Director</h2>
        
    <h3>Description: </h3>
    <div>@Model.Description</div>

    <div>
        @if (Model.Cast.Length > 0)
        {
            <h3>Cast: </h3>
            <ul>
                @foreach (var c in Model.Cast)
                {
                    <li><b>@c.ArtistName</b> : @c.Role</li>
                }
            </ul>
        }
    </div>
</div>

